---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;
---

<div
  class="group border border-navy-800 bg-navy-900/50 p-8 hover:border-copper-500/50 hover:bg-navy-900 transition-all duration-500 flex flex-col items-start h-full cursor-default relative overflow-hidden"
>
  <div
    class="absolute top-0 left-0 w-full h-1 bg-gradient-to-r from-copper-600 to-copper-400 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
  >
  </div>
  <div
    class="w-12 h-12 mb-4 text-copper-500 group-hover:-translate-y-1 transition-transform duration-500"
  >
    <Icon name={icon} class="w-full h-full" stroke-width="0.5" />
  </div>
  <h3 class="text-2xl font-display text-warm-50 mb-4 tracking-wide">
    {title}
  </h3>
  <p class="text-navy-200 text-md font-light leading-relaxed">
    {description}
  </p>
</div>
